<div class="flex flex-col flex-auto overflow-y-auto bg-white shadow-lg">
  <!-- Header -->
  <div
    class="flex flex-0 items-center justify-between h-16 px-6 bg-gray-300 transition-all duration-300"
  >
    <div class="text-lg font-semibold tracking-wide text-gray-700">Card</div>
    <button
      mat-icon-button
      (click)="matDialogRef.close()"
      class="hover:bg-gray-200 rounded-full transition-all duration-200"
    >
      <mat-icon class="text-gray-700">close</mat-icon>
    </button>
  </div>

  <!-- Form -->
  <form
    class="flex flex-col flex-0 items-start w-full p-6 space-y-6 overflow-y-auto"
    [formGroup]="cardForm"
  >
    <!-- Título -->
    <mat-form-field
      class="w-full transition-all duration-200 focus-within:scale-[1.01]"
      [subscriptSizing]="'dynamic'"
    >
      <mat-label>Título</mat-label>
      <textarea
        matInput
        [formControlName]="'title'"
        [rows]="1"
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
      ></textarea>
    </mat-form-field>

    <!-- Descrição -->
    <mat-form-field
      class="w-full transition-all duration-200 focus-within:scale-[1.01]"
      [subscriptSizing]="'dynamic'"
    >
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        [formControlName]="'description'"
        [rows]="1"
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
      ></textarea>
    </mat-form-field>

    <!-- Data -->
    <div class="w-full">
      <div class="font-medium text-gray-700">Data</div>
      <div
        class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer transition-all duration-200 bg-gray-300 hover:bg-gray-200"
        (click)="dueDatePicker.open()"
      >
        <mat-icon class="icon-size-5 text-gray-600">calendar_month</mat-icon>
        <span class="ml-2 text-md font-medium text-gray-700">
          <ng-container *ngIf="card.dueDate">{{
            card.dueDate | date : "dd/MM/yyyy"
          }}</ng-container>
          <ng-container *ngIf="!card.dueDate">Não definido</ng-container>
        </span>
        <mat-form-field
          class="absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
          [subscriptSizing]="'dynamic'"
        >
          <input
            matInput
            [formControlName]="'dueDate'"
            [matDatepicker]="dueDatePicker"
          />
          <mat-datepicker #dueDatePicker>
            <mat-datepicker-actions>
              <button
                mat-button
                (click)="cardForm.get('dueDate')?.setValue(null)"
                matDatepickerCancel
              >
                Limpar
              </button>
              <button mat-flat-button [color]="'primary'" matDatepickerApply>
                Selecionar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="w-full">
      <div class="font-medium text-gray-700">Tags</div>
      <div
        class="mt-1 rounded-md border border-gray-300 shadow-sm bg-gray-300 transition-all duration-200"
      >
        <div class="flex items-center my-2 mx-3">
          <mat-icon class="text-gray-600">search</mat-icon>
          <input
            class="min-w-0 ml-2 py-1 border-0 bg-transparent text-gray-700 placeholder-gray-600 focus:outline-none"
            type="text"
            placeholder="Procurar label..."
            (input)="filterLabels($event)"
            (keydown)="filterLabelsInputKeyDown($event)"
            [maxLength]="50"
          />
        </div>

        <div
          class="leading-none border-t border-gray-400 grid grid-cols-1 md:grid-cols-3 place-items-center w-full"
        >
          <ng-container
            *ngFor="let label of filteredLabels; trackBy: trackByFn"
          >
            <mat-checkbox
              class="p-2 w-full hover:bg-gray-200 transition-all duration-200"
              [color]="'primary'"
              [checked]="hasLabel(label)"
              (change)="toggleProductTag(label, $event)"
            >
              {{ label.title }}
            </mat-checkbox>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
