<nav
  class="flex flex-col h-full bg-gray-200 dark:bg-black text-gray-900 dark:text-gray-100 p-5 space-y-4"
>
  <img class="w-40 mb-6 ml-2" src="logo.webp" alt="Logo OdontoEasy" />

  <div class="mb-6 flex flex-col gap-5 font-bold">
    <button
      matButton
      [matMenuTriggerFor]="menu"
      class="rounded-md cursor-pointer p-2 bg-blue-600 text-left"
    >
      ⚡ Menu Rápido
    </button>
    <mat-menu
      #menu="matMenu"
      class="!text-black dark:!text-white !bg-white dark:!bg-gray-800 !rounded-md"
    >
      <button mat-menu-item>➕ Adicionar Cliente</button>
      <button mat-menu-item>📅 Consultar Agenda</button>
      <button mat-menu-item>📦 Adicionar Estoque</button>
      <button mat-menu-item>🦷 Adicionar Dentista</button>
    </mat-menu>
    <a
      routerLink="/system/dashboard"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >📊 Dashboard</a
    >
    <a
      routerLink="/system/pacientes"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >👥 Pacientes</a
    >
    <a
      routerLink="/system/funcionarios"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >👨‍⚕️ Funcionários</a
    >
    <a
      routerLink="/system/consultas"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >📅 Consultas</a
    >
    <a
      routerLink="/system/scrumboard"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >📋 Scrumboard</a
    >
    <a
      routerLink="/system/financeiro"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >💰 Financeiro</a
    >
    <a
      routerLink="/system/profile"
      class="block p-2 rounded hover:bg-gray-400 dark:hover:bg-gray-700"
      >⚙️ Conta</a
    >
    <a
      routerLink="/logout"
      class="block p-2 rounded text-red-600 hover:bg-gray-400 dark:hover:bg-gray-700"
      >🚪 Sair</a
    >
  </div>

  <div class="mt-auto text-sm text-gray-500 dark:text-white">
    © 2025 OdontoEasy
  </div>
</nav>
