// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "montserrat";
}

//Elevation
@for $i from 0 through 24 {
  .mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}

//No scroll Mobile
.no-scroll {
  width: 100% !important;
  height: 100dvh !important;
  margin: 0 !important;
  overflow: hidden !important;
}

//No ripple mat-form-field
div[matformfieldlineripple] {
  display: none;
}
