// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "montserrat";
}
