<nav class="w-full bg-blue-400 dark:bg-black py-5 text-white">
  <div
    *ngIf="screenSize; else navMobile"
    class="max-w-7xl mx-auto grid grid-cols-3 place-items-center"
  >
    <img
      src="logo.webp"
      class="w-32 cursor-pointer"
      alt="Odonto Easy Logo"
      routerLink="/home"
    />
    <div class="flex flex-row gap-12 font-bold text-lg">
      <a
        class="hover:transition-transform transform hover:scale-110"
        routerLink="/home"
        >Início</a
      >
      <a
        class="hover:transition-transform transform hover:scale-110"
        routerLink="/about"
        >Sobre</a
      >
      <a
        class="hover:transition-transform transform hover:scale-110"
        routerLink="/plans"
        >Planos</a
      >
    </div>
    <div class="flex flex-row gap-3">
      <button
        class="cursor-pointer rounded-md text-blue-900 font-bold bg-white p-3 hover:bg-gray-200 shadow-md"
      >
        Entrar
      </button>
      <button
        class="mat-elevation-z4 bg-blue-400 dark:bg-blue-900 rounded-md p-3 flex flex-row gap-2 cursor-pointer shadow-md font-medium"
      >
        Tire suas dúvidas <img src="whatsapp.webp" class="w-6" alt="Whatsapp" />
      </button>
    </div>
  </div>

  <ng-template #navMobile>
    <div class="grid grid-cols-1 px-5">
      <div class="grid grid-cols-3 gap-5 place-items-center">
        <button
          (click)="openClose()"
          mat-icon-button
          class="justify-start p-2 mat-elevation-z4 bg-transparent dark:!bg-gray-900 !rounded-md"
        >
          <mat-icon *ngIf="!isOpened">menu</mat-icon>
          <mat-icon *ngIf="isOpened">close</mat-icon>
        </button>

        <img
          src="logo.webp"
          class="w-30 justify-self-center"
          alt="Odonto Easy Logo"
          routerLink="/home"
        />
      </div>

      <div
        *ngIf="isOpened"
        class="font-medium text-xl grid grid-cols-1 place-items-center h-screen pb-20 bg-blue-400 dark:bg-black"
      >
        <div class="w-full flex flex-col">
          <a
            class="flex justify-center"
            routerLink="/home"
            (click)="openClose()"
            >Início</a
          >
          <hr class="mx-25" />
        </div>
        <div class="w-full flex flex-col">
          <a
            class="flex justify-center"
            routerLink="/about"
            (click)="openClose()"
            >Sobre</a
          >
          <hr class="mx-25" />
        </div>
        <div class="w-full flex flex-col">
          <a
            class="flex justify-center"
            routerLink="/plans"
            (click)="openClose()"
            >Planos</a
          >
          <hr class="mx-25" />
        </div>
        <div class="w-full flex flex-col">
          <a
            class="flex justify-center"
            routerLink="/login"
            (click)="openClose()"
            >Entrar</a
          >
          <hr class="mx-25" />
        </div>
      </div>
    </div>
  </ng-template>
</nav>
